<!DOCTYPE html>
<html lang="en">
<head>
		<title>Signup</title>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8fdUWKRJCVWGK7CX5SnTOo1QxuczZ8_A&v=3.exp&sensor=false&libraries=places"></script>
				</head>
<body>
{% block content %}
  <h2 style="padding-left: 30%">Sign up</h2>
  <form style="padding-left: 30%" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
</body>
</html>